exportClasses(BrowserViz2Class)

exportMethods (
   openBrowser,
   ready,
   getBrowserInfo,
   send,
   addMessageHandler,
   browserResponseReady,
   getBrowserResponse,
   closeWebSocket,
   port,
   roundTripTest,
   getBrowserWindowTitle,
   setBrowserWindowTitle,
   getBrowserWindowSize
   )

export(
   BrowserViz2,
   toJSON
   )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

import(BiocGenerics)
import(httpuv)
importFrom(jsonlite, fromJSON, toJSON)
